body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
h1 {
    margin-bottom: 10px; /* Add margin for spacing */
}

#reportDate {
    margin-left: auto; /* Move the span to the right end */
}

span{
    font-size: 20px;
}

.report {
    display: flex;
    height: 100%;
}

.sidebar {
    width: 20%; /* Adjust width as needed */
    background-color: #f0f0f0;
    padding: 20px;
    height: 100hv;
}

.container {
    flex: 1;
    padding: 20px;
}

/* Additional styles for sidebar and container content */
.sidebar h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}
.container {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

textarea{
    width: 100%;
}


#submit {
    align-self: flex-end;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

#submit:hover {
    background-color: #0056b3;
}
/* CSS for the report table */
#reportTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 30px;
}

#reportTable th,
#reportTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#reportTable th {
    background-color: #f2f2f2;
}

#reportTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#reportTable tr:hover {
    background-color: #ddd;
}
#save{
    padding: 5px;
    margin-bottom: 30px;
}
label{
    font-size: 20px;
    font-weight: bold;
}